<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все читатели</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/people.css}">
</head>
<body>
<header>
    <navbar>
        <ul class="nav">
            <a class="button" th:href="@{/people}">Все пользователи</a>
            <a class="button" th:href="@{/books}">Все книги</a>
        </ul>
    </navbar>
</header>
<div class="wrapper">
    <div class="container">
            <ol class="list">
                <li th:each="person : ${fullPeople}">
                    <a class="list-link" th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getFull_name() + ', ' + person.getYear_of_birth()}"></a>
                </li>
            </ol>
        <a class="button" th:href="@{/people/new}">Добавить нового человека</a>
    </div>
</div>
</body>
</html>