<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового читателя</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/new.css}">
</head>
<body>
<header>
    <navbar>
        <ul class="nav">
            <a class="button" th:href="@{/people}">Все пользователи</a>
            <a class="button" th:href="@{/books}">Все книги</a>
        </ul>
    </navbar>
</header>
<div class="wrapper">
    <div class="container">
        <form id="new" class="list form" th:method="POST" th:action="@{/people}" th:object="${person}" enctype="multipart/form-data">
            <label for="fullName">Введите ФИО:</label>
            <input type="text" placeholder="Иванов Иван Иванович" th:field="*{full_name}" id="fullName"/>
            <p class="error-message" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}"></p>

            <label for="year">Введите год рождения:</label>
            <input type="text" placeholder="2000" th:field="*{year_of_birth}" id="year"/>
            <p class="error-message" th:if="${#fields.hasErrors('year_of_birth')}"
               th:errors="*{year_of_birth}"></p>

            <label for="avatar">Прикрепите фотографию:</label>
            <input type="file" th:field="*{avatar}" id="avatar" multiple="multiple"/>
        </form>

        <div class="button-container">
            <button form="new" class="button" type="submit">Создать!</button>
            <a class="button" th:href="@{/people/}">Назад</a>
        </div>
    </div>
</div>

</body>
</html>