<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="*{person.getFull_name()}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/show.css}">
</head>

<body>
<header>
    <navbar>
        <ul class="nav">
            <a class="button" href="/people">Все пользователи</a>
            <a class="button" href="/books">Все книги</a>
        </ul>
    </navbar>
</header>
<div class="wrapper">
    <div class="container">
        <h1 th:text="${person.getFull_name() + ', ' + person.getYear_of_birth()}">Date</h1>
        <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + person.getAvatar()}" align=”right” width="200" height="222" alt="">

        <div th:if="${books.isEmpty()}">
            <p>Человек пока не взял ни одной книги</p>
        </div>
        <div class="user-books" th:if="${!books.isEmpty()}">
            <h3>Книги:</h3>
            <ul>
                <li th:each="book : ${books}" th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></li>
            </ul>
        </div>
        <div class="button-container">
            <a class="button" href="/people">Назад</a>
            <div class="buttons">
                <a th:href="@{/people/{id}/edit(id=${person.getId()})}" id="edit-button" class="button" type="submit">Редактировать</a>
                <form id='delete' th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                    <button id="delete-button" form="delete" class="delete-button button" type="submit">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
