<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getTitle()}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/styles/css/bookshow.css}">
</head>
<body>
<header>
    <navbar>
        <ul class="nav">
            <a class="nav-link" href="/people">Все пользователи</a>
            <a class="nav-link" href="/books">Все книги</a>
        </ul>
    </navbar>
</header>
<div class="wrapper">
    <div class="container">
        <h1 th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Date</h1>
        <div class="container" th:if="${owner}">
            <span>Книга сейчас у: <b th:text="${owner.getFull_name()}"></b> </span>
            <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
                <button class="button" type="submit">Освободить книгу!</button>
            </form>
        </div>
        <div class="container" th:if="${people}">
            <span>Эта книга свободна. Кому назначить её?</span>
            <form id="to-someone" th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
                <label for="person">Выберите человека:</label>
                <select th:object="${person}" th:field="*{id}" id="person">
                    <option th:each="person : ${people}" th:value="${person.getId()}"
                            th:text="${person.getFull_name()}">
                    </option>
                </select>
            </form>
            <button form="to-someone" class="button" type="submit">Назначить книгу</button>
        </div>

        <div class="button-container">
            <a href="/books/" class="button" type="submit">Назад</a>
            <div class="buttons">
                <a id="edit-button" th:href="@{/books/{id}/edit(id=${book.getId()})}" class="button" type="submit">Редактировать</a>
                <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
                    <button id="delete-button" class="button" type="submit">Удалить</button>
                </form>
            </div>
        </div>

    </div>
</div>

</body>
</html>